*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(217, 232, 235);
}
/* footer */
footer{
    background-color: white;
}

.logo{
    height: 80px;
    width: 80px;
    display: inline-block;
}

h1{
    display: inline-block;
    line-height: 80px;
    vertical-align: 20px;
    font-size: 60px;
}
/* /footer */

main{
    background-color: white;
    margin: 0px 200px;
    text-align: left;
}

/* nav */
nav{
    margin: 50px 200px 0;
    background-color: white;
    border-bottom: 2px solid rgb(217, 232, 235);
    padding: 10px 40px;
}

#add-t{
    color: white;
    background-color: rgb(81, 153, 211);
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

#add-s{
    color: gray;
    border: 1px solid grey;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background-color: white;
}
/* /nav */

/* utiliy */
.but{
    color: white;
    border-radius: 10px;
    width: 60px;
    height: 20px;
    font-size: 10px;
}

.radio{
    border-radius: 50%;
    margin-right: 10px;
}
/* /utiliy */

/* section */
section{
    padding: 10px 40px 0px;
}

h2{
    margin-bottom: 0px;
    margin-top: 30px;
}

.voci{
    margin: 10px 0 20px 0;
}

.ed{
    background-color: rgb(103, 157, 219);
}

.g{
    color: green;
    border: 1px solid green;
}

.r{
    color: red;
    border: 1px solid red;
}

.q1{
    background-color: indigo;
}

.rec{
    background-color: seagreen;
}

.mo{
    background-color: orange;
}

.web{
    background-color: palevioletred;
}

.sal{
    background-color: rgb(128, 190, 35);
}
/* /section */